<!DOCTYPE html>
<html>
<head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.111.3">
    <title>sign up</title>
    
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Favicons -->
	<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
	<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
	<meta name="theme-color" content="#712cf9">
	
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
      
      .container {
		  max-width: 960px;
	  }
	  
	  
	  /* stylelint-disable selector-list-comma-newline-after */
		
		.blog-header {
		  border-bottom: 1px solid #e5e5e5;
		}
		
		.blog-header-logo {
		  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
		  font-size: 2.25rem;
		}
		
		.blog-header-logo:hover {
		  text-decoration: none;
		}
	  
    </style>
    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    
    
</head>
<body class="bg-body-tertiary">

  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="/process/signup">Sign up</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/process/main">Fair Site</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="/process/search" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="/process/login">Login</a>
  
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/process/info">페어 정보 페이지</a>
        <a class="p-2 link-secondary" href="#">맵 정보 페이지</a>
        <a class="p-2 link-secondary" href="/process/announce_personal">공지 페이지</a>
        <a class="p-2 link-secondary" href="/process/getBoardListView">커뮤니티</a>
        <a class="p-2 link-secondary" href="/process/announce_team">업체 공지 페이지</a>
        <a class="p-2 link-secondary" href="/process/inquire">페어 페이지 문의</a>
        <a class="p-2 link-secondary" href="/process/mypage">마이 페이지</a>
      </nav>
    </div>
  </div>
    
<div class="container">
  <main>
    <div class="py-4 text-center">
    <h2>회원가입 페이지</h2>
      <p class="lead">회원가입을 위한 회원정보를 입력해주세요</p>
    </div>

      <div class="py-1 text-center">
        <form class="needs-validation" method="post" action="/process/signupProc" novalidate>
          <div class="row g-3 d-flex justify-content-center">
              <div class="col-8">
                <label for="email" class="form-label">Email (ID)</label>
                <input type="email" class="form-control" name="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  Please enter a valid email address for sign-up information.
                </div>
              </div>
              
              <div class="col-8">
                <label for="email" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="abcd1234" required>
                <div class="invalid-feedback">
                  Please enter a valid Password for sign-up information.
                </div>
              </div>

              <div class="col-8">
                <label for="text" class="form-label">Name</label>
                <input type="name" class="form-control" name="name" placeholder="홍길동" required>
                <div class="invalid-feedback">
                  Please enter a valid Name for sign-up information.
                </div>
              </div>
              
              <div class="col-5">
                <label for="tel" class="form-label">Tel</label>
                <input type="tel" class="form-control" name="tel" placeholder="123-1234-1234" required>
                <div class="invalid-feedback">
                  Please enter a valid Tel for sign-up information.
                </div>
              </div>

              <div class="col-3">
                <label for="text" class="form-label">Age</label>
                <input type="text" class="form-control" name="age" placeholder="20" required>
                <div class="invalid-feedback">
                  Please enter a valid Age for sign-up information.
                </div>
              </div>

              <div class="col-8">
                <label for="text" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" placeholder="Not Required">
              </div>
          
          </div>

          <hr class="my-4">

          <button class="col-8 btn btn-primary btn-lg" type="submit">Continue to Sign-up</button>
        </form>
      </div>
    </div>
  </div>
</main>

  <footer class="my-3 pt-3 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 한양여자대학교 2103352 이서윤</p>
  </footer>
</div>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

      <script src="checkout.js"></script>
</body>
</html>